# Maven Build Output
target/

# Keep only the Maven Wrapper JAR (very important)
!.mvn/wrapper/maven-wrapper.jar

# Generated folders & files
htmlReport/
uploads/
logs/

# Temporary and IDE files
.refresh
*.log
*.tmp
*.bak

# IDE / Editor files
.idea/
.vscode/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/

# OS files
.DS_Store
Thumbs.db

# Maven temporary files
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Other unnecessary files
*.class
hs_err_pid*